---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose :global(h1) {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 3.052em;
			}
			.prose :global(h2) {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 2.441em;
			}
			.prose :global(h3) {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.953em;
			}
			.prose :global(h4) {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.563em;
			}
			.prose :global(h5) {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.25em;
			}
			.prose :global(p) {
				margin-bottom: 2em;
			}
			.prose :global(a) {
				color: var(--accent);
			}
			.prose :global(strong) {
				font-weight: 700;
			}
			.prose :global(code) {
				padding: 2px 5px;
				background-color: rgb(var(--gray-light));
				border-radius: 2px;
			}
			.prose :global(pre) {
				padding: 1.5em;
				border-radius: 8px;
			}
			.prose :global(pre > code) {
				all: unset;
			}
			.prose :global(blockquote) {
				border-left: 4px solid var(--accent);
				padding: 0 0 0 20px;
				margin: 0px;
				font-size: 1.333em;
			}
			.prose :global(hr) {
				border: none;
				border-top: 1px solid rgb(var(--gray-light));
			}
		</style>
	</head>

	<body
		class="font-sans text-gray-dark text-xl max-[720px]:text-lg leading-[1.7] bg-gradient-to-b from-gray-light/50 bg-no-repeat bg-[length:100%_600px]"
	>
		<Header />
		<main
			class="w-full max-w-full m-0 py-[3em] px-[1em] max-[720px]:p-[1em] w-[calc(100%-2em)]"
		>
			<article>
				<div class="w-full">
					{
						heroImage && (
							<Image
								width={1020}
								height={510}
								src={heroImage}
								alt=""
								class="block mx-auto rounded-xl shadow"
							/>
						)
					}
				</div>
				<div
					class="prose w-[720px] max-w-[calc(100%-2em)] mx-auto p-4 text-gray-dark"
				>
					<div class="mb-4 py-4 text-center leading-none">
						<div class="mb-2 text-gray">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="mb-2">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
